{% load static %}
<link rel="stylesheet" href="{%static 'index.css' %}">
<li class="li-box">
            <article class="post">
                <a href="{% url 'post_detail_page' post.slug %}">
                    <div class="li-img">
                    <img class="post-img" src="{{post.image.url}}" alt="mountain Hiking">
                    </div>
                    <div class="post__content">
                        <h3>{{post.title}}</h3>
                        <p>{{post.content | truncatewords:20 }} </p>
                    </div>
                </a>
            </article>
        </li>